<div class="container">
  <ul class="progressbar">
      <li> <a routerLink="general">
          general
             </a>
        </li>
        <li> <a routerLink="contact">
          contact
             </a>
        </li>
        <li> <a routerLink="identity" >
          Identity
             </a>
        </li>
        <li> <a routerLink="income" >
          Income
             </a>
        </li>
        <li> <a routerLink="review" >
          Review
             </a>
        </li>
  </ul>
</div>


