<div class="box">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYcv-0ewt7HOXii0rH2Z7Ct6dBzLiL6q7ErolktZQmTVFB77W3" class="logo" >
<div class="row">

  <div class="col-md-12">
    <h1>Login </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="custId">Customer Id:</label>
        <input formControlName="customer_Id" placeholder="Customer Id" name="custId" class="form-control" id="custId">
        <div class="warning" *ngIf="submitted && loginForm.get('customer_Id').hasError('required')">
          Enter the customer Id
        </div>
      </div>
      <div class="form-group">
        <label for="custPwd">Password:</label>
        <input type="password" formControlName="password" placeholder="Password" name="custPwd" class="form-control" id="custPwd">
        <div class="warning" *ngIf="submitted && loginForm.get('password').hasError('required')">
          Enter the correct password
        </div>
      </div>
      <button class="btn btn btn-success">Login</button>
      <p *ngIf = "invalid"> Invalid Login! </p>
    </form>
  </div>
</div>
</div>
 





