@import "../../stylings/variables";
@import "../../stylings/mixin";
.box {
	@include commonSetting(328px, 420px, 50%, 50%);
	background: rgba(0, 0, 0, 0.34);
	color: $color_1;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 20px;
	padding: 80px 30px;
	//nested scss and its follows only this same hierarchy
	.logo{
		@include commonSetting(100px, 100px, -50px, 35%); //used mixin to limit the code 
		border-radius: 50%;
		position: absolute;
	}
}

.inter{
	text-align: center;
    color: $color_2;
}

p{
   @extend .inter; //extend another class to access the properties
}


