$color_1: white;
$color_2: #fb2525;
.box {
	width: 328px;
	height: 420px;
	background: rgba(0, 0, 0, 0.34);
	color: $color_1;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 20px;
    padding: 80px 30px;
    
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 35%;
}


