$color_1: white;
$color_2: #fb2525;
h1,h2 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
    font-size: 22px;
    color: $color_1;
}

label{
    color: $color_1;
}

.warning{

    color: $color_2;
   // background-color: $color_2;

}