@import "../../../../stylings/variables";
.container{
    width: 100%;
}
.progressbar{
    li{
        list-style-type: none;
        float: left;
        width: 20%;
        position: relative;
        padding-block-start: 30px;
        text-align: center;

        a{
            color: $color_1;
        }
    }

}



