 <div class="container">
  <ul class="nav progressbar">
      <!-- <li> <a routerLink="general">
          general
             </a>
        </li>
        <li> <a routerLink="contact">
          contact
             </a>
        </li>
        <li> <a routerLink="identity">
          Identity
             </a>
        </li>
        <li> <a routerLink="income">
          Income
             </a>
        </li>
        <li> <a routerLink="review">
          Review
             </a>
        </li> -->
        <li (click)="generalClick()"> 
          general  
        </li>
        <li (click)="contactClick()"> 
          contact    
        </li>
        <li (click)="identityClick()">
          Identity
        </li>
        <li (click)="incomeClick()"> 
          Income
        </li>
        <li (click)="reviewClick()"> 
          Review
        </li>
  </ul>
</div>  


