 <div class="container">
  <ul class="nav progressbar">
      <li> <a routerLink="general" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab">
          general
             </a>
        </li>
        <li> <a routerLink="contact" routerLinkActive="active" data-toggle="tab">
          contact
             </a>
        </li>
        <li> <a routerLink="identity" routerLinkActive="active" data-toggle="tab" >
          Identity
             </a>
        </li>
        <li> <a routerLink="income"routerLinkActive="active" data-toggle="tab">
          Income
             </a>
        </li>
        <li> <a routerLink="review" routerLinkActive="active" data-toggle="tab">
          Review
             </a>
        </li>
        
  </ul>
</div>  

